@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
  background-color: #ba181b;
}

ion-content {
  --padding-start: 32px;
  --padding-top: 32px;
  --padding-end: 32px;
  --font-family: 'Lora', serif;
  --color: #f5f3f4c5;
  --background: linear-gradient(to bottom, #e5383be0, #66070900);

  .ion-no-padding {
    --color: #f5f3f4c5;
  }
}

h1 {
  text-align: center;
  font-weight: 100;
  font-size: 28px;
  color: #f5f3f4c5;
  font-family: 'Lora', serif;
}

.icone {
  display: flex;
  justify-content: center;
  margin-top: 38px;

  ion-icon {
    font-size: 48px;

  }
}

@keyframes slide {
  0% {
    width: 40px;
    height: 40px;
    transform: translateX(500px);
  }

  20%{
    width: 50px;
    height: 50px;
  }

  40%{
    width: 60px;
    height: 60px;
  }

  50%{
    width: 70px;
    height: 70px;
  }

  60%{
    width: 80px;
    height: 80px;
  }

  80%{
    width: 90px;
    height: 90px;
  }

  100% {
    width: 100px;
    height: 100px;
    transform: translateX(0);
  }
}

#heart1 {
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 185px;
  right: 90px;
  animation: slide 4100ms infinite;
}

#heart2 {
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 20px;
  right: 10px;
  animation: slide 3100ms infinite;
}

#heart3 {
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 50px;
  left: 50px;
  animation: slide 3700ms infinite;
}

#heart4 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 185px;
  right: 10px;
  animation: slide 4600ms infinite;
}

#heart5 {
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 280px;
  left: 10px;
  animation: slide 3650ms infinite;
}

#heart6 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 260px;
  left: 95px;
  animation: slide 3800ms infinite;
}

#heart7 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50px;
  left: -30px;
  animation: slide 4000ms infinite;
}

ion-button {
  font-size: 18px;
  position: absolute;
  bottom: 150px;
  width: calc(100% - 64px);
}

.header {
  background-color: #ba181b;
  border-radius: 5px;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.4);
}

#resposta {
  --width: fit-content;
  --min-width: 50%;
  --height: fit content;
  --border-radius: 15px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #f5f3f4c5;
}

.wrapper {
  margin-bottom: 10px;
}

#botao {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1px;
}

ion-item {
  --border-radius: 50px;
}