<ion-header class="header">
  <h1>COMPATIBILIDADE</h1>
</ion-header>
<ion-content>
  <h2 class="text-center mb-5" style="padding: 20px 20px; color:#f5f3f4c5">Digite dois nomes para
    testar a compatibilidade
    entre eles!!</h2>
    <ion-label>Primeiro nome</ion-label>
  <ion-item class="ion-no-padding">
    <ion-input type="text" clearInput value="" [(ngModel)]="nome1"></ion-input>
  </ion-item>
  <div class="icone">
    <ion-icon name="add"></ion-icon>
  </div>
  <ion-label>Segundo nome</ion-label>
  <ion-item class="ion-no-padding">
    <ion-input type="text" clearInput value="" [(ngModel)]="nome2"></ion-input>
  </ion-item>
  <img id="heart1" src="../../assets/icon/heart.png" alt="">
  <img id="heart2" src="../../assets/icon/heart.png" alt="">
  <img id="heart3" src="../../assets/icon/heart2.png" alt="">
  <img id="heart4" src="../../assets/icon/heart.png" alt="">
  <img id="heart5" src="../../assets/icon/heart2.png" alt="">
  <img id="heart6" src="../../assets/icon/heart2.png" alt="">
  <img id="heart7" src="../../assets/icon/heart2.png" alt="">
  <ion-button (click)="calcular()" id="abrir-resposta" expand="block" size="large" shape="round" color="tertiary">
    <img id="botao" src="../../assets/icon/🦆 icon _heart target_.png">Calcular</ion-button>
  <ion-modal id="resposta" #modal trigger="abrir-resposta">
    <ng-template>
      <div class="wrapper">
        <h4>TESTE DE COMPATIBILIDADE</h4>
        <h1>{{porcentagem}}%</h1>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>